<div class="container">
    <div class="d-flex justify-content-around mt-3">
  <h1>User Details</h1> 
    </div>
    <div *ngIf="!isLoading; else loading1">
    <div class="row">
    <div class="offset-1 col-6 box mt-2">
      <div class="row">
      <div class="col-4 mt-2">
      <img [src]="img" alt="" height="100px" width="100px">
      </div>
      <div class="col-8 mt-2">
      <form [formGroup]="userEditForm" (ngSubmit)="update()">
        <input  type="text" formControlName="name" placeholder="Name" class="mt-2" trim="blur">
        <span *ngIf="submitted && userEditForm.get('name')?.hasError('required')" style="color: #dc3545;">
          *  This field is required
      </span>
        <input  type="text" formControlName="statusMessage" placeholder="StatusMessage" class="mt-2" trim="blur">
        <span *ngIf="submitted && userEditForm.get('statusMessage')?.hasError('required')" style="color: #dc3545;">
          *   This field is required
      </span>
        <input  type="text" formControlName="email" placeholder="Email" class="mt-2" trim="blur">
        <div *ngIf="submitted">
        <span *ngIf="userEditForm.get('email')?.hasError('required')" style="color: #dc3545;">
          *   This field is required
      </span>
      <span *ngIf="userEditForm.get('email')?.hasError('pattern')" style="color: #dc3545;">
        *   Please give an valid email
    </span>
        </div>
        <input  type="text" formControlName="age" placeholder="Age" class="mt-2" trim="blur">
        <span *ngIf="submitted && userEditForm.get('age')?.hasError('required')" style="color: #dc3545;">
          *   This field is required
      </span>
        <!-- <input  type="text" formControlName="isPublic" placeholder="IsPublic" class="mt-2"> -->
        <div>
        IsPublic
        <input class="ml-2" type="radio" value="true" formControlName="isPublic">Yes
        <input class="ml-2" type="radio" value="false" formControlName="isPublic">No
      </div>
      <div>
      <input type="text" formControlName="avatarUrl" placeholder="avatarUrl" class="mt-2" trim="blur">
      </div>
        <button type="submit" class="btn btn-primary mt-2" [disabled]="isDisabled">Save</button>
        </form>
      </div>
      </div>
    </div>
    <div class="col-5 mt-4">
      {{user?.createdAt | date: 'dd-MM-yyyy hh:mm:a'}}
      <div class="mt-2">
        <button (click)="openDeleteModal(user.id)" class="btn btn-light">
          <i class="bi bi-trash" style=" color: red;"></i>Delete
        </button>
      </div>
    </div>
    </div>
    </div>
    <ng-template #loading1>
      <div class="d-flex1">
       <div class="m-auto">
     <div class="loading"></div>
       </div>
     </div>
   </ng-template>
 
  </div>


  <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
        </div>
        <div class="modal-body">
          <p>Are you confirm to delete this record?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="deleteRecord()">Confirm</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
