<div class="container">
    <div class="d-flex justify-content-around mt-3">
  <h1>Users</h1> 
    </div>
    <div class="row">
    <div class="offset-1 col-md-4 col-sm-6 box mt-2">
      <div class="row">
      <div class="col-md-4 col-sm-6 mt-2">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" height="100px" width="100px">
      </div>
      <div class="col-md-6 col-sm-6 mt-2">
        <form [formGroup]="userForm" (ngSubmit)="create()">
        <input  type="text" formControlName="name" placeholder="Name" class="mt-2">
        <span *ngIf="submitted && userForm.get('name').hasError('required')" style="color: #dc3545;">
          *  This field is required
      </span>
        <input  type="text" formControlName="statusMessage" placeholder="StatusMessage" class="mt-2">
        <span *ngIf="submitted && userForm.get('statusMessage').hasError('required')" style="color: #dc3545;">
          *   This field is required
      </span>
        <input  type="text" formControlName="email" placeholder="Email" class="mt-2">
        <div *ngIf="submitted">
        <span *ngIf="userForm.get('email').hasError('required')" style="color: #dc3545;">
          *   This field is required
      </span>
      <span *ngIf="userForm.controls.email.errors?.pattern" style="color: #dc3545;">
        *   Please give an valid email
    </span>
        </div>
        <input  type="text" formControlName="age" placeholder="Age" class="mt-2">
        <span *ngIf="submitted && userForm.get('age').hasError('required')" style="color: #dc3545;">
          *   This field is required
      </span>
        <input  type="text" formControlName="isPublic" placeholder="IsPublic" class="mt-2">
        <span *ngIf="submitted && userForm.get('name').hasError('required')" style="color: #dc3545;">
          *    This field is required
      </span>
        <button type="submit" class="btn btn-primary mt-2" >Create</button>
        </form>
      </div>
      </div>
    </div>
    </div>
  </div>
