/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #808080; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .d-flex1{
    display:flex;
     position:absolute;
      top:0; 
      bottom:0; 
      right:0;
       left:0;
    }